<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Face Recognition Attendance System</h1>

    <div class="video-box">
        <img src="{{ url_for('video') }}" width="700">
    </div>

    <div class="button-group">
        <a href="/save" class="btn btn-save">Save Attendance</a>
    </div>

    <div class="footer">
        Developed using Flask + OpenCV
    </div>
</div>

</body>
</html>
